<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<a herf ="/">Show All Course </a> <br/>
    Title :<span th:text= " ${coursse.title}"> </span><br/>
    Instructor :<span th:text= " ${coursse.instructor}"> </span><br/>
    Description:<span th:text= " ${coursse.descreption}"> </span><br/>
    Credits:<span th:text= " ${coursse.credit}"> </span><br/>


<a th: herf="@{/delete/ {id}(id=${course.id})}"> Delete this course</a>

    </body>
</html>